@import "../../index.scss";

.projects-container {
  flex: 1 1 100%;
  padding-bottom: 100px;
  .title-container {
    margin-bottom: 30px;
    flex: 1 1 100%;
    justify-content: center;
    h2 {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        height: 2px;
        background-color: white;
        left: 0;
        bottom: 0;
        width: 100%;
      }
    }
  }

  .project-cards-container {
    flex: 1 1 100%;
    justify-content: center;
    text-align: center;
    p {
      max-width: 800px;
    }

    .project-cards-carousel {
      flex: 1 1 100%;
      padding: 50px 0;
      justify-content: center;
      gap: 50px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .projects-container {
    flex: 1 1 100%;
    padding-bottom: 50px;
    .title-container {
      margin-bottom: 20px;
    }
  }
}
