@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  * {
    background: #0a1828;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
  }
}
